@use '../../globalCSS/mixins/flex-box' as mixinsFlexbox;
@use '../../globalCSS/mixins/media-query' as mixinResponsiveness;

.header {
    padding: 1rem 2rem;
    width: 100%;
    box-shadow: 2px 2px 5px gray;
    height: 90px;
    @include mixinsFlexbox.flex-box(row, center, center);
    
    @include mixinResponsiveness.responsive-to(tablet) {
      padding: 1rem 9rem;
      height: 145px;
    }

    &__content {
      width: 100%;
      max-width: 1200px;
      @include mixinsFlexbox.flex-box(row, space-between, center);
    }

    &__logo {
        width: 90px;
        height: 54px;

      @include mixinResponsiveness.responsive-to(tablet) {
        width: 158px;
        height: 64px;
      }
    }
  
    nav a {
      color: #64748b;
      font-size: 0.875rem;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        color: #435167;
      }
    }
  }